<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
        <img src="https://w7.pngwing.com/pngs/905/956/png-transparent-blue-and-red-bar-graph-illustration-bar-chart-graph-of-a-function-ppt-material-infographic-blue-png-material-thumbnail.png" alt="Logo" class="logo">
      </button>
      <button mat-icon-button routerLink="/chart-js">
        <mat-icon>bar_chart</mat-icon>
        <span>Chart.Js</span>
      </button>
      <button mat-icon-button routerLink="/d3">
        <mat-icon>bubble_chart</mat-icon>
        <span>D3</span>
      </button>
      <button mat-icon-button routerLink="/highchart">
        <mat-icon>pie_chart</mat-icon>
        <span>HighChart</span>
      </button>
  </mat-toolbar>
  </p>